<div class="container">
  <button class="retro-button-filled green">Submit</button>
  <button class="retro-button-filled red">Delete</button>
  <button class="retro-button-filled">Log in</button>
</div>

<div class="container">
  <input type="text" placeholder="Username" class="retro-input">
  <input type="password" placeholder="Password" class="retro-input">
  <div class="retro-checkbox-container">
    <input type="checkbox" id="retro-checkbox" class="retro-checkbox">
    <span class="retro-checkbox-box"></span>
    <label for="retro-checkbox" class="retro-checkbox-label">Remember me</label>
  </div>
  <div class="form-input">
    <input type="text" placeholder="Username" class="retro-input error">
    <div class="error-container">
      <span class="error-message">Invalid username!</span>
    </div>
  </div>
</div>

<div class="container">
  <div class="retro-div"></div>
</div>

<div class="container">
  <div class="retro-alert">
    <b class="retro-alert-text">Error</b>
  </div>
</div>
